
@{
    ViewBag.Title = "Shopping_success";
}
<body style="text-align:center">
    <h2>Shopping successfull</h2>
    <h4>Bills had sent the shop. You will receive goods in 2-3 days.
        Thank you.</h4>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Continue Shopping... </a>
</body>


